<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class='center-container'>
      <div class='container-fluid'>
        <% if feedback %>
          <h5><%=feedback%></h5>
        <% end %>
        
        <h5>Incorrect Guesses <%=bad_guesses%></h5>
        <h5>Welcome <%=player_name%>!</h5>
        <form action='/play-game' method='post'>
          <input class="form-control" autocomplete="off" type='text' name='guess' placeholder='your guess'/>
          <button type="submit" name='submit-guess' class="btn btn-primary">Submit</button>
          <button type="submit" name='restart-game' class="btn btn-secondary">Restart_game</button>
        </form>
        <h5><%=guesses_left%> Guesses left</h5>
        <h5><%=hint%></h5>
      </div>
    </div>
  </body>
  <link rel='stylesheet' type='text/css' href='/style.css'>
</html>